@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap');

p {
    font-family: 'Roboto Slab', serif;
}


#mapid {
    display: block;
    width: 100vw;
    height: 75vh;
}

.navbar-container {
    display: flex;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    margin: 10px;
    align-items: center;
    justify-content: flex-end;
}

.navbar-container div {
    margin: 10px;
}

.leaflet-popup-content-wrapper {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #00cc66;
}


.selected {
    color: #00cc66;
    font-size: 16px;
}

.heading {
    text-align: center;
}

.heading h1 {
    font-family: 'Berkshire Swash';
    font-size: 60px;
    color: #00cc66;
    margin: 0px;
}

.heading p {
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
}

footer p {
    font-family: 'Roboto Slab', serif;
    font-size: 10px;
    text-align: center;
}