<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:https="http://www.springframework.org/schema/mvc">

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/reset.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="application/javascript"></script>
    <script src="https://cdn-webgl.wrld3d.com/wrldjs/dist/latest/wrld.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />

    <title>safEatz</title>

    <nav class="navbar-container">
        <div class="selected">Home</div>
        <input type="text" placeholder="Search.."/>
        <input type="submit" value="Submit" />
    </nav>
</head>

<body>

    <div class="heading">
        <h1>safEatz</h1>
        <p>Safe foods, no pain</p>
    </div>

    <form action="/" method="post" th:object="${pin}">
        <input type="hidden" name="lat" th:field="*{lat}" />
        <input type="hidden" name="lng" th:field="*{lng}" />
        <input type="submit" value="Save Pin" />
    </form>

    <div id="mapid"></div>

    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <script type="application/javascript">



    </script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script th:src="@{/js/mainpagemap.js}" type="application/javascript"></script>


</body>
</html>