<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:https="http://www.springframework.org/schema/mvc">

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title>safEatz</title>

    <nav class="navbar-container">
        <div class="selected">Home</div>
        <input type="text" placeholder="Search.."/>
        <input type="submit" value="Submit" />
    </nav>
</head>

<body>

    <div class="heading">
        <h1>safEatz</h1>
        <p>Safe foods, no pain</p>
    </div>

    <form action="/" method="post" th:object="${pin}">
        <input type="hidden" name="lat" th:field="*{lat}" />
        <input type="hidden" name="lng" th:field="*{lng}" />
        <input type="submit" value="Save Pin" />
    </form>

<!--    Modal-->
    <div class="container">

        <!-- Modal -->
        <div class="modal fade" tabindex="-1" id="myModal" role="dialog">
            <div class="modal-dialog" role="document">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">safEatz</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input type="text" placeholder="Restaurant Name" />
                        <textarea placeholder="Description"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Add Pin</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <form class="allergens">
        <p>Allergens to Avoid:</p>
        <input type="checkbox" name="Milk">Milk</input>
        <input type="checkbox" name="Eggs">Eggs</input>
        <input type="checkbox" name="Fish">Fish</input>
        <input type="checkbox" name="Shellfish">Shellfish</input>
        <input type="checkbox" name="Tree Nuts">Tree Nuts</input>
        <input type="checkbox" name="Peanuts">Peanuts</input>
        <input type="checkbox" name="Wheat">Wheat</input>
        <input type="checkbox" name="Soy">Soy</input>
    </form>

    <div id="mapid"></div>

    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <script type="application/javascript">



    </script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script th:src="@{/js/mainpagemap.js}" type="application/javascript"></script>


</body>
</html>