<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:https="http://www.springframework.org/schema/mvc">

<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title>safEatz</title>

    <nav class="navbar-container">
        <div class="selected">Home</div>
        <input type="text" placeholder="Search.."/>
        <input type="submit" value="Submit" />
    </nav>
</head>

<body>

    <div class="heading">
        <h1>safEatz</h1>
        <p>Safe foods, no pain</p>
    </div>

<!--    Modal-->
    <div class="container">

        <!-- Modal -->
        <div class="modal fade" tabindex="-1" id="myModal" role="dialog">
            <div class="modal-dialog" role="document">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">safEatz</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <form action="/" method="post" th:object="${pin}">
                        <div class="modal-body">
                            <input type="text" placeholder="Restaurant Name" th:field="*{restaurantName}" />
                            <textarea placeholder="Description" th:field="*{description}"></textarea>
                        </div>

                        <div>Allergens this restaurant caters to:</div>

                        <label for="Milk">Milk</label>
                        <input type="checkbox" id="Milk" />

                        <label for="Eggs">Eggs</label>
                        <input type="checkbox" id="Eggs" />

                        <label for="Fish">Fish</label>
                        <input type="checkbox" id="Fish" />

                        <label for="Shellfish">Shellfish</label>
                        <input type="checkbox" id="Shellfish" />

                        <label for="Tree Nuts">Tree Nuts</label>
                        <input type="checkbox" id="Tree Nuts" />

                        <label for="Peanuts">Peanuts</label>
                        <input type="checkbox" id="Peanuts" />

                        <label for="Wheat">Wheat</label>
                        <input type="checkbox" id="Wheat" />

                        <label for="Soy">Soy</label>
                        <input type="checkbox" id="Soy" />

                        <input type="hidden" name="lat" th:field="*{lat}" />
                        <input type="hidden" name="lng" th:field="*{lng}" />

                        <div>
                            <button type="button" data-dismiss="modal" class="form-bottom">Cancel</button>
                            <button type="submit" value="Save Pin" class="form-bottom">Add Pin</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <form class="allergens" action="/" method="post" th:object="${pin}">

        <p>Allergens to Avoid:</p>

        <label for="Milk1">Milk</label>
        <input type="checkbox" id="Milk1" />

        <label for="Eggs1">Eggs</label>
        <input type="checkbox" id="Eggs1" />

        <label for="Fish1">Fish</label>
        <input type="checkbox" id="Fish1" />

        <label for="Shellfish1">Shellfish</label>
        <input type="checkbox" id="Shellfish1" />

        <label for="Tree Nuts1">Tree Nuts</label>
        <input type="checkbox" id="Tree Nuts1" />

        <label for="Peanuts1">Peanuts</label>
        <input type="checkbox" id="Peanuts1" />

        <label for="Wheat1">Wheat</label>
        <input type="checkbox" id="Wheat1" />

        <label for="Soy1">Soy</label>
        <input type="checkbox" id="Soy1" />

        <label for="Search">Search</label>
        <input type="submit" id="search" value="Search" />
    </form>

    <div id="mapid"></div>

    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <script type="application/javascript">



    </script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script th:src="@{/js/mainpagemap.js}" type="application/javascript"></script>


</body>
</html>