<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/reset.css}" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        *{
        background-image: url("/images/thomas-tucker-MNtag_eXMKw-unsplash.jpg")
        background-size: 50vw;
        }
    </style>

    <title>safEatz</title>

    <nav class="navbar-container">
        <div><a href="/">safEatz</a></div>
        <div class="selected">Login</div>
        <div><a href="/signup">Signup</a></div>
    </nav>
</head>

<body>

<div class="heading">
    <h1>safEatz</h1>
    <p>Safe foods, no pain</p>
</div>

<form class="form-container">
    <input name="username" type="text" placeholder="Username"/>
    <input name="password" type="password" placeholder="Password"/>
    <input type="submit" value="Submit" />
</form>

<h4>Don't have an account? <a href="/signup">Create one!</a></h4>

</body>
</html>